# Pterodactyl SFTP Deployment Settings
# Скопируйте этот файл как .env.deploy и заполните данные из Pterodactyl -> Server -> Settings
SFTP_HOST=192.168.1.8
SFTP_PORT=2022
SFTP_USER=admin.a208fcb2
SFTP_PASS=your_pterodactyl_password
SFTP_REMOTE_PATH=/www

# GitHub Releases Settings (Опционально, для авто-загрузки полного лаунчера на GitHub)
GITHUB_TOKEN=your_github_personal_access_token_here
GITHUB_REPO=ganjamonsta/ganjacraft_launcher
