BASE_URL=https://launcher.ganj4craft.ru
GITHUB_TOKEN=ghp_your_token_here
GITHUB_REPO=ganjamonsta/ganjacraft_launcher

# Remote Linux Build Server via SSH (Optional)
# If set, build-release.js will connect to your Debian server after Windows build and assemble Linux packages (.deb, .AppImage, .zip) natively!
REMOTE_LINUX_SSH_HOST=192.168.1.8
REMOTE_LINUX_SSH_PORT=22
REMOTE_LINUX_SSH_USER=root
REMOTE_LINUX_SSH_PASS=your_password
REMOTE_LINUX_SSH_KEY=path/to/key.ppk
REMOTE_LINUX_PATH=/root/ganjacraft_launcher
